<% provide(:title, 'Contact') %>
<div class="center hero-unit">
  <h1>Contact</h1>
  <p>
    Contact details for App.
  </p>
</div>
<%= link_to image_tag("rails.png", alt:"Rails"), 'http://localhost:3000' %>
